.modal {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1000; // Đảm bảo modal ở trên cùng
  
    .modal-content {
      background-color: white;
      padding: 20px;
      border-radius: 5px;
      width: 400px;
      position: relative;
  
      
  
      h2 {
        margin: 0 0 20px 0;
      }
  
      form {
        display: flex;
        flex-direction: column;
  
        input, select {
          margin-bottom: 10px;
          padding: 10px;
          border: 1px solid #ccc;
          border-radius: 5px;
        }
  
        button {
          background-color: #28a745;
          color: white;
          border: none;
          padding: 10px;
          cursor: pointer;
          border-radius: 5px;
          transition: background-color 0.3s;
  
          &:hover {
            background-color: #FF8718;
          }
        }
      }
    }
  }
  