.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000; // Đảm bảo modal nằm trên các phần khác
  }
  
  .modal-content {
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
    width: 400px; // Có thể điều chỉnh kích thước modal
    
  }
  
  
  .modal-content h2 {
    margin-bottom: 20px;
    
  }
  
  .modal-content form {
    display: flex;
    flex-direction: column;
  }
  
  .modal-content input,
  .modal-content select {
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  
  .modal-content button {
    margin-top: 10px;
    padding: 10px;
    background: #28a745; // Màu xanh lá
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    width: 100%; // Đặt chiều rộng của nút bằng 100%


    &:hover {
        background-color: #FF8718; // Đổi màu khi hover
    }
}

  .success-message {
    margin: 10px 0;
    padding: 10px;
    background-color: #d4edda; // Màu nền cho thông báo thành công
    color: #155724; // Màu chữ cho thông báo
    border: 1px solid #c3e6cb; // Đường viền cho thông báo
    border-radius: 5px; // Bo góc cho thông báo
}
  